body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 130vh;
  background-image: url('src/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding-top: 110px !important; 
}

.container {
  width: 100%;
  max-width: 100% !important;
  padding: 0 1rem;
  z-index: 2; 
  position: relative; 
}

.overlay-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 44, 0.6);
  z-index: 1; 
  pointer-events: none;
}

.text-center h1,
.text-center p, 
.texts {
  color: white;
  z-index: 3; 
  position: relative;
}

.card-body {
  color: #f0ad05;
}

.card-title, .card-text {
  color: #f0ad05;
}

.btn-primary {
  background-color: #1c1c2c;
  border-color: #1c1c2c;
  color: white;
}

.btn-primary:hover {
  background-color: #333;
  border-color: #333;
}

.card {
  background-color: #fff;
  color: #333;
  border: none;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
  z-index: 2; 
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.col-md-4 {
  flex: 1 1 calc(33.33% - 1.5rem);
  max-width: calc(33.33% - 1.5rem);
  margin-bottom: 1.5rem;
}
.btn{
  background-color: #1c1c2c !important;
}
.btn:hover{
  background-color: #f0ad05 !important;
  color: white;
}
.course-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative; 
}

.course-details-content {
  max-width: 900px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.course-details-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.course-details-content .btn {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 1 1 calc(50% - 1.5rem);
    max-width: calc(50% - 1.5rem);
  }
}

@media (max-width: 480px) {
  .col-md-4 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; 
}

.modal-content {
  background-color: #f0ad05 !important;
  padding: 20px;
  border-radius: 15px !important;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 2001;
  display: block; 
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content p {
  margin-bottom: 20px;
}


